<h1> Sign Up </h1>

<%= form_for(:user, url: {:action => 'create', :controller => 'users'}) do |f| %>
  <p>Username: <%= f.text_field :username %> </p>
  <p>Email: <%= f.text_field :email %> </p>
  <p>Password <%= f.password_field :password %> </p>
<% end %>
