<div class="container">
  <h3> Top Art </h3>
  <ul class="list-group">
    <% @art.each do |art| %>
      <li class="list-group-item">
        <%= link_to art.title, art %>
        <span class="badge"><%= art.rating %></span>
      </li>
    <% end %>
  </ul>
</div>
